<template lang="pug">
swiper
  swiper-slide slide 1
  swiper-slide slide 2
  swiper-slide slide 3
  swiper-slide slide 4
  swiper-slide slide 5
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" >
@import './style.scss'
</style>
